<div class="c-star-rating">
  <div class="u-visually-hidden">
    <label for="course-id-rating-{{ id }}">Rating</label>
    <meter id="course-id-rating-{{ id }}" value="{{ value }}" min="1"
           max="{{ max }}">
      {{ value }} out of {{ max }}
    </meter>
  </div>

  {{#> '@atoms-layout' fit=true gap='tiny' align-block='center' }}
    <div aria-hidden="true">
      {{#> '@atoms-layout' fit=true gap=null align-block=null }}
        <span class="c-star-rating__filled">
          {{ render '@atoms-icon--star' }}
        </span>
        <span class="c-star-rating__filled">
          {{ render '@atoms-icon--star' }}
        </span>
        <span class="c-star-rating__filled">
          {{ render '@atoms-icon--star' }}
        </span>
        <span class="c-star-rating__filled">
          {{ render '@atoms-icon--star' }}
        </span>
        <span class="c-star-rating__empty">
          {{ render '@atoms-icon--star' }}
        </span>
      {{/'@atoms-layout'}}
    </div>

    <span class="c-star-rating__amount">({{ amount }}<span
        class="u-visually-hidden"> ratings</span>)</span>
  {{/'@atoms-layout'}}

</div>
