<div class="c-form-field">

  {{ render "@atoms-label" label merge=true }}

  <div class="c-input-number" data-module="ui/input-number">

    <button
      data-module-bind="input-number-decrease"
      hidden
      type="button"
      aria-describedby="label-{{ id }}"
    >
      <span class="u-visually-hidden">decrease</span>
      {{ render '@atoms-icon' minus }}
    </button>

    <input
      class="c-input-text  c-input-number__input"
      type="number"
      id="{{ id }}"
      name="{{ name }}"
      min="{{ min }}"
      max="{{ max }}"
      value="{{ value }}"
      step="{{ step }}"
      {{#if isRequired}}
      required
      {{/if}}
      data-module-bind="input-number-input  validate-input"
    >

    <button
      data-module-bind="input-number-increase"
      hidden
      type="button"
      aria-describedby="label-{{ id }}"
    >
      <span class="u-visually-hidden">Increase</span>
      {{ render '@atoms-icon' plus }}
    </button>

    <div class="u-visually-hidden" role="status" aria-live="polite" data-module-bind="input-number-status">{{ value }}</div>
  </div>

  <p hidden id="error--{{ name }}" class="c-form-field__message" data-module-bind="validate-error">Error for {{ name }}.</p>
</div>
