<div class="c-form-field">

  {{ render "@atoms-label" label merge=true }}

  <div
    class="c-autocomplete"
    data-module="ui/autocomplete"
    {{#if isAsync}}data-api-url="https://api.github.com/search/repositories"{{/if}}
    data-query-min-length="{{ queryMinLength }}"
  >

    {{#unless isAsync}}
      <div class="c-autocomplete__select" data-module-bind="autocomplete-wrap-select">
        {{ render '@atoms-input-select' inputSelect merge=true }}
      </div>
    {{/unless}}

    <div
      class="c-autocomplete__enhanced"
      {{#unless isAsync}}hidden{{/unless}}
      data-module-bind="autocomplete-enhanced"
    >
      <div class="c-autocomplete__field">
        <input
          class="c-input-text  c-autocomplete__input"
          data-module-bind="autocomplete-input"
          aria-owns="autocomplete-{{ name }}-options"
          autocapitalize="none"
          type="search"
          autocomplete="off"
          aria-autocomplete="list"
          role="combobox"
          id="{{ name }}"
          aria-expanded="false"
        >

        <div class="c-autocomplete__icon" data-module-bind="autocomplete-icon">
          {{#unless isAsync}}
          {{! dropdown icon }}
            {{ render '@atoms-icon--chevron-down' }}
          {{/unless}}
          {{#if isAsync}}
          {{! search icon }}
            {{ render '@atoms-icon--magnifier' }}
          {{/if}}
        </div>

        {{! empty input button }}
        <button type="button" class="o-button-clean  c-autocomplete__icon  c-autocomplete__icon--clear"
                data-module-bind="autocomplete-clear" hidden>
          <span class="u-visually-hidden">Clear field</span>
          {{ render '@atoms-icon--cross' }}
        </button>

      </div>

      <ul
        class="o-list-clean  c-autocomplete__list"
        data-module-bind="autocomplete-list"
        id="autocomplete-{{ name }}-options"
        role="listbox"
        hidden
      >
        <li
          hidden
          class="c-autocomplete__option"
          data-module-bind="autocomplete-list-option"
          role="option"
          tabindex="-1"
          aria-selected="false"
        ></li>
      </ul>

      <div aria-live="polite" role="status" class="u-visually-hidden">
        <span data-module-bind="autocomplete-amount">0</span> results.
      </div>

    </div>
  </div>

  <p hidden id="error--{{ name }}" class="c-form-field__message"
     data-module-bind="validate-error"></p>

</div>
