<script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {{#each items }}
          {
            "@type": "ListItem",
            "position": {{ index }},
            "name": "{{ title }}",
            "item": "{{ href }}"
          }{{#unless isLast}},{{/unless}}
        {{/each}}
      ]
    }
  ]
</script>

<nav aria-labelledby="breadcrumbs-label" class="c-breadcrumbs">
  <div id="breadcrumbs-label" class="u-visually-hidden">Breadcrumbs</div>
  {{#> '@atoms-layout' element='ol' align-block='center' fit=true }}
    {{#each items }}
      <li class="c-breadcrumbs__item  {{#if isParent}}c-breadcrumbs__parent{{/if}}">
        {{#> '@atoms-layout' element='span' align-block='center' fit=true }}
          {{#if isParent }}
            <span class="c-breadcrumbs__parent-arrow-left">
              {{ render '@atoms-icon--chevron-left' }}
            </span>
          {{/if}}
          <a class="c-breadcrumbs__link" href="{{ href }}" {{#if isLast}}aria-current="page"{{/if}}>{{ title }}</a>
          {{#unless isLast }}
            <span class="{{#if isParent}}c-breadcrumbs__parent-arrow-right{{/if}}">
              {{ render '@atoms-icon--chevron-right' }}
            </span>
          {{/unless}}
        {{/ '@atoms-layout' }}
      </li>
    {{/each}}
  {{/ '@atoms-layout' }}
</nav>

