<script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {{#each items }}
          {
            "@type": "ListItem",
            "position": {{ index }},
            "name": "{{ title }}",
            "item": "{{ href }}"
          }{{#unless isLast}},{{/unless}}
        {{/each}}
      ]
    }
  ]
</script>

<nav aria-labelledby="breadcrumbs-label" class="c-breadcrumbs">
  <div id="breadcrumbs-label" class="u-visually-hidden">Breadcrumbs</div>
  <ol class="o-layout  o-layout--align-middle">
    {{#each items }}
      <li class="o-layout__cell  o-layout__cell--fit  c-breadcrumbs__item  {{#if isParent}}c-breadcrumbs__parent{{/if}}">
        <span class="o-layout  o-layout--align-middle">
          {{#if isParent }}
            <span class="o-layout__cell  o-layout__cell--fit  c-breadcrumbs__parent-arrow-left">
              {{ render '@atoms-icon' ../chevronLeft merge=true }}
            </span>
          {{/if}}
          <span class="o-layout__cell  o-layout__cell--fit">
            {{#if isLast }}
              <span>{{ title }}</span>
            {{else}}
              <a href="{{ href }}">{{ title }}</a>
            {{/if}}
          </span>
          {{#unless isLast }}
            <span class="o-layout__cell  o-layout__cell--fit  {{#if isParent}}c-breadcrumbs__parent-arrow-right{{/if}}">
              {{ render '@atoms-icon' ../chevronRight merge=true }}
            </span>
          {{/unless}}
        </span>
      </li>
    {{/each}}
  </ol>
</nav>

