<form method="post" action="" data-module="ui/validate">
  <div class="o-flow">
    <fieldset>
      <legend>Text inputs</legend>

      <div class="o-flow">
        {{ render '@molecules-field-input-text' nameField merge=true }}
        {{ render '@molecules-field-input-text' emailField merge=true }}
        {{ render '@molecules-field-input-autocomplete' autocompleteField merge=true }}
        {{ render '@molecules-field-input-radioset' radioField merge=true }}
      </div>

    </fieldset>

    <fieldset
      hidden disabled
      data-module-bind="validate-conditional"
      data-field-name="expand-fieldset"
      data-field-value="yes"
    >
      <legend>More inputs</legend>

      {{ render '@molecules-field-input-number' }}

    </fieldset>

    {{ render '@molecules-field-input-submit' submit merge=true }}
  </div>

</form>
