<div class="c-tabs" data-module="ui/tabs" data-context="@visible">

  <div class="c-tabs__wrap-tablist">
    <div class="c-tabs__tablist" role="tablist" aria-labelledby="tablist-subjects">
      <div id="tablist-subjects" class="u-visually-hidden">Subjects</div>
      {{#each tabs }}
          <a
            class="c-tabs__tab"
            data-module-bind="tabs-tab"
            role="tab"
            href="#panel-{{ id }}"
            aria-controls="panel-{{ id }}"
            id="tab-{{ id }}"
          >
            {{ tabHeading }}
          </a>
      {{/each}}
    </div>
  </div>

  <div class="o-layout  o-layout--stretch">
    <div class="o-layout__fit">
      <div class="c-tabs__tablist-expanded" role="tablist" aria-labelledby="tablist-subjects">
        {{#each tabs }}
          <a
            class="c-tabs__tab"
            data-module-bind="tabs-tab-expanded"
            role="tab"
            href="#panel-{{ id }}"
            aria-controls="panel-{{ id }}"
          >
            <span class="o-layout  o-layout--gap-small  o-layout--align-block-center">
              <span class="o-layout__fill">
                {{ tabHeading }}
              </span>
              <span class="o-layout__fit">
                {{ render '@atoms-icon--chevron-right' }}
              </span>
            </span>
          </a>
        {{/each}}
      </div>
    </div>
    <div class="o-layout__fill">
        {{#each tabs}} {{! panels, actually }}
          <div
            class="c-tabs__panel"
            data-module-bind="tabs-panel"
            tabindex="0"
            role="tabpanel"
            id="panel-{{ id }}"
            aria-labelledby="tab-{{ id }}"
          >
            <div class="o-flow">
              {{{ content }}}
            </div>
          </div>
        {{/each}}
    </div>
  </div>
</div>
