<div class="c-tabs" data-module="ui/tabs">

  <div class="c-tabs__wrap-tablist">
    <div class="c-tabs__tablist" role="tablist" aria-labelledby="tablist-subjects">
      <div id="tablist-subjects" class="u-visually-hidden">Subjects</div>
      {{#each tabs }}
        <div class="c-tabs__list-item">
          <button
            type="button"
            class="c-tabs__tab  o-button-clean"
            data-module-bind="tabs-tab"
            role="tab"
            aria-controls="panel-{{ @index }}"
            id="tab-{{ @index }}"
          >
            {{ tabHeading }}
          </button>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="o-layout  o-layout--equalheight">
    <div class="o-layout__cell  u-colspan-3">
      <div>
        <div class="c-tabs__tablist-expanded" role="tablist" aria-labelledby="tablist-subjects">
          {{#each tabs }}
            <div class="c-tabs__expanded-item" data-module-bind="tablist-item">
              <button
                type="button"
                class="c-tabs__expanded-tab  o-button-clean"
                data-module-bind="tabs-tab-expanded"
                role="tab"
                aria-controls="panel-{{ @index }}"
              >
                      <span class="o-layout  o-layout--gutter-small  o-layout--align-middle">
                        <span class="o-layout__cell  o-layout__cell--fill">
                          {{ tabHeading }}
                        </span>
                        <span class="o-layout__cell  o-layout__cell--fit">
                          {{ render '@atoms-icon--chevron-right' }}
                        </span>

                      </span>
              </button>
            </div>

          {{/each}}
        </div>
      </div>

    </div>

    <div class="o-layout__cell  u-colspan-9">
      <div>

        {{#each tabs}} {{! panels, actually }}
          <div
            class="c-tabs__panel  u-module"
            data-module-bind="tabs-panel"
            tabindex="0"
            role="tabpanel"
            id="panel-{{ @index }}"
            aria-labelledby="tab-{{ @index }}"
          >

            {{{ content }}}

          </div>
        {{/each}}
      </div>

    </div>
  </div>

</div>
