<{{element}}
  {{#if type}}type="{{type}}"{{/if}}
  {{#if href}}href="{{href}}{{#if anchor}}{{anchor}}{{/if}}"{{/if}}
  {{#if target}}target="{{target}}"{{/if}}
  class="c-button  {{#if modifier}}c-button--{{modifier}}{{/if}}  {{#if hasIcon}}c-button--has-icon{{/if}}  {{#if isReversed}}c-button--reversed{{/if}}  {{#if hideLabel}}c-button--hide-label{{/if}}"
  {{#if id}}id="{{id}}"{{/if}}
  {{#if isDisabled}}disabled{{/if}}
  {{{data}}}
>
  <span class="c-button__inner">
    <span class="c-button__label  {{#if hideLabel}}u-visually-hidden{{/if}}" data-module-bind="btn-label">
      {{{label}}}
    </span>

    {{#if hasIcon}}
      <span class="c-button__wrap-icon">
        {{render "@atoms-icon" }}
      </span>
    {{/if}}

  </span>
</{{element}}>
