<{{button.element}}
  {{#if button.type}}type="{{button.type}}"{{/if}}
  {{#if button.href}}href="{{button.href}}{{#if button.anchor}}{{button.anchor}}{{/if}}"{{/if}}
  {{#if button.target}}target="{{button.target}}"{{/if}}
  class="c-button  {{#if button.modifier}}c-button--{{button.modifier}}{{/if}}  {{#if button.hasIcon}}c-button--has-icon{{/if}}  {{#if button.isReversed}}c-button--reversed{{/if}}  {{#if hideLabel}}c-button--hide-label{{/if}}"
  {{#if button.id}}id="{{button.id}}"{{/if}}
  {{#if button.isDisabled}}disabled{{/if}}
  {{{button.data}}}
>
  <span class="c-button__inner">
    <span class="c-button__label  {{#if button.hideLabel}}u-visually-hidden{{/if}}" data-module-bind="btn-label">
      {{{button.label}}}
    </span>

    {{#if button.hasIcon}}
      <span class="c-button__wrap-icon">
        {{render "@atoms-icon" }}
      </span>
    {{/if}}

  </span>
</{{button.element}}>
