<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ htmlLang }}" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview Layout</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{! Generic app tags }}
  <link rel="manifest" href="{{ path '/manifest/manifest.json' }}">
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ path '/manifest/icons/icon-180x180.png' }}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ path '/manifest/icons/icon-32x32.png' }}">
  <meta name="theme-color" content="{{themeColor}}">

  {{! Inform CSS that JS is enabled }}
  <script>
    document.documentElement.classList.add("has-js");
  </script>

  {{#if _config.project.isDevelop }}
    <script type="module" src="{{ vite }}@vite/client"></script>
    <script type="module" src="{{ vite }}src/js/entry.ts"></script>
    <link rel="stylesheet" href="{{ vite }}src/sass/style.scss">
  {{ else }}
    <script type="module" src="{{ manifest 'src/js/entry.ts' 'file' }}"></script>
    <link rel="stylesheet" href="{{ manifest 'src/sass/style.js' 'css' }}">
  {{/if}}

</head>
<body class="{{ bodyClass }}">

<div data-modal-page>
  {{{ yield }}}
</div>

</body>
</html>
