<div data-module="ui/modal">

  {{ render '@atoms-button' triggerBtn }}

  <div
    class="c-modal"
    data-module-bind="modal-modal"
    aria-labelledby="modal-heading-{{ id }}"
    aria-describedby="modal-rte-{{ id }}"
    hidden
  >
    <div class="c-modal__overlay" data-module-bind="modal-close"></div>

    <div class="c-modal__modal" role="document">
      <header class="c-modal__header">
        <div class="o-layout  o-layout--gap-base">
          <div class="o-layout__cell  o-layout__cell--fill">
            <h3 id="modal-heading-{{ id }}">{{ heading }}</h3>
          </div>
          <div class="o-layout__cell  o-layout__cell--fit">
            <button data-module-bind="modal-close" type="button"
                    class="o-button-clean  c-modal__close-button">
              {{ render '@atoms-icon--cross' }}
              <span class="u-visually-hidden">Close</span>
            </button>
          </div>
        </div>
      </header>

      <div class="c-modal__content">

        <div id="modal-rte-{{ id }}">{{{ rte }}}</div>

        <form method="post" action="">
          <p>{{ render '@atoms-button' submitBtn }}</p>
        </form>

        <p>{{ render '@atoms-button' cancelBtn }}</p>

      </div>

    </div>
  </div>
</div>

