{{ render '@atoms-button' triggerBtn }}

<details-modal id="{{ id }}" heading="{{ heading }}" open>
  <div class="o-flow">

    {{{ rte }}}

    <form method="dialog" action="">
      <p>{{ render '@atoms-button' submitBtn }}</p>
    </form>

    <p>{{ render '@atoms-button' cancelBtn }}</p>

  </div>
</details-modal>
